{
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 164,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"importOrderSeparation": true,
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"parser": "mdx",
				"useTabs": false,
				"tabWidth": 2,
				"proseWrap": "preserve",
				"printWidth": 999,
				"jsxSingleQuote": false
			}
		}
	]
}
