.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card:hover {
  opacity: 0.8;
}

.cardBody {
  flex: 1 0 0%;
  padding: 16px;
  background: #f3f4f6;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
