.terminal {
	background-color: var(--sei-grey-600);
	color: var(--sei-live);
	border-radius: 8px;
	padding: 16px;
	font-family: 'Courier New', monospace;
	width: 600px;
	margin: 0 auto;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 8px;
}

.circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
}

.body {
	background-color: var(--sei-grey-600);
	border-radius: 4px;
	padding: 8px;
	overflow-y: auto;
	max-height: 400px;
}

.node {
	margin-left: 16px;
}

.nodeHeader {
	cursor: pointer;
	user-select: none;
}

.nodeChildren {
	margin-left: 16px;
}

.leafNode {
	margin-left: 32px;
}

.loading {
	text-align: center;
	color: var(--sei-grey-50);
}
