/* Light mode by default */
.hero {
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem 1rem 3rem;
	color: var(--sei-black);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
}

:global(.dark) .hero {
	color: var(--sei-white);
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

.title {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: clamp(1.7rem, 3vw, 2.5rem);
	line-height: 1.2;
	color: var(--sei-black);
}

:global(.dark) .title {
	color: var(--sei-white);
}

.subtitle {
	margin-bottom: 1.5rem;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.7);
}

:global(.dark) .subtitle {
	color: rgba(236, 237, 238, 0.9);
}

.ctaWrapper {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.outlineButton {
	font-family: Satoshi, sans-serif;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	border-color: var(--sei-black);
	color: var(--sei-black);
}

.outlineButton:hover {
	background-color: rgba(0, 0, 0, 0.12);
}

:global(.dark) .outlineButton {
	border-color: var(--sei-grey-25);
	color: var(--sei-grey-25);
}

:global(.dark) .outlineButton:hover {
	background-color: rgba(236, 237, 238, 0.12);
}
