@import '../node_modules/tailwindcss';

/* Required to have tailwinds "dark:" work with nextra dark mode*/
@custom-variant dark (&:where(.dark, .dark *));

.radix-themes {
	--cursor-button: pointer !important;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
}

.shiki {
	padding: 20px;
	border-radius: 12px;
	border: 1px solid var(--color-neutral-300);
	overflow: auto;
}

.light .shiki,
.light .shiki span {
	background-color: var(--color-neutral-100) !important;
}

.dark .shiki,
.dark .shiki span {
	background-color: var(--color-neutral-900) !important;
	color: var(--shiki-dark) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

aside,
.nextra-nav,
.nextra-nav-container {
	background-color: var(--color-neutral-100) !important;
}

/* Dark mode */
.dark aside,
.dark .nextra-nav,
.dark .nextra-nav-container {
	background-color: var(--color-neutral-900) !important;
}

.nextra-sidebar {
	width: calc(var(--x-spacing)* 70);
}

.dark .shiki {
	border: 1px solid var(--color-neutral-700);
}

:root,
.light,
.light-theme {
	--red-1: #fffcfc;
	--red-2: #fef8f7;
	--red-3: #fcecea;
	--red-4: #ffded9;
	--red-5: #fcd1ca;
	--red-6: #f5c2ba;
	--red-7: #ebafa6;
	--red-8: #e0978c;
	--red-9: #9e1f19;
	--red-10: #8c0205;
	--red-11: #c04237;
	--red-12: #5e211b;

	--red-a1: #ff000003;
	--red-a2: #e0200008;
	--red-a3: #db190015;
	--red-a4: #ff220026;
	--red-a5: #f1220035;
	--red-a6: #db1e0045;
	--red-a7: #c61a0059;
	--red-a8: #bb190073;
	--red-a9: #940700e6;
	--red-a10: #8b0003fd;
	--red-a11: #af0e00c8;
	--red-a12: #4b0700e4;

	--red-contrast: #fff;
	--red-surface: #fef6f5cc;
	--red-indicator: #9e1f19;
	--red-track: #9e1f19;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root,
		.light,
		.light-theme {
			--red-1: oklch(99.4% 0.0026 28.46);
			--red-2: oklch(98.3% 0.0069 28.46);
			--red-3: oklch(95.5% 0.0176 28.46);
			--red-4: oklch(92.8% 0.0379 28.46);
			--red-5: oklch(89.6% 0.0495 28.46);
			--red-6: oklch(85.7% 0.0596 28.46);
			--red-7: oklch(80.8% 0.0715 28.46);
			--red-8: oklch(74.6% 0.0906 28.46);
			--red-9: oklch(45.6% 0.1636 28.46);
			--red-10: oklch(40.2% 0.1636 28.46);
			--red-11: oklch(55.5% 0.1636 28.46);
			--red-12: oklch(34% 0.0904 28.46);

			--red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
			--red-a2: color(display-p3 0.7569 0.1451 0.0196 / 0.032);
			--red-a3: color(display-p3 0.7176 0.1529 0.0078 / 0.083);
			--red-a4: color(display-p3 0.8667 0.1412 0.0078 / 0.146);
			--red-a5: color(display-p3 0.8039 0.1373 0 / 0.2);
			--red-a6: color(display-p3 0.7333 0.1216 0.0039 / 0.263);
			--red-a7: color(display-p3 0.6706 0.1059 0.0039 / 0.342);
			--red-a8: color(display-p3 0.6275 0.102 0.0039 / 0.44);
			--red-a9: color(display-p3 0.502 0.0392 0 / 0.867);
			--red-a10: color(display-p3 0.4627 0.0235 0 / 0.93);
			--red-a11: color(display-p3 0.6 0.0667 0 / 0.757);
			--red-a12: color(display-p3 0.2549 0.0314 0 / 0.883);

			--red-contrast: #fff;
			--red-surface: color(display-p3 0.9922 0.9647 0.9608 / 0.8);
			--red-indicator: oklch(45.6% 0.1636 28.46);
			--red-track: oklch(45.6% 0.1636 28.46);
		}
	}
}

.dark,
.dark-theme {
	--red-1: #180e0d;
	--red-2: #22110f;
	--red-3: #420906;
	--red-4: #5b0000;
	--red-5: #6e0000;
	--red-6: #810807;
	--red-7: #9c1d17;
	--red-8: #ca2720;
	--red-9: #9e1f19;
	--red-10: #87130f;
	--red-11: #ff9081;
	--red-12: #ffcec4;

	--red-a1: #f1000008;
	--red-a2: #f6110013;
	--red-a3: #fd000035;
	--red-a4: #fd000050;
	--red-a5: #ff000064;
	--red-a6: #ff000078;
	--red-a7: #ff261c95;
	--red-a8: #fe2d24c7;
	--red-a9: #fe291f98;
	--red-a10: #fd150d7f;
	--red-a11: #ca2720;
	--red-a12: #ffcec4;

	--red-contrast: #fff;
	--red-surface: #33110e80;
	--red-indicator: #9e1f19;
	--red-track: #9e1f19;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark,
		.dark-theme {
			--red-1: oklch(17.8% 0.0181 28.46);
			--red-2: oklch(20.3% 0.0292 28.46);
			--red-3: oklch(25% 0.0872 28.46);
			--red-4: oklch(28.8% 0.13 28.46);
			--red-5: oklch(33.1% 0.1446 28.46);
			--red-6: oklch(38.2% 0.151 28.46);
			--red-7: oklch(45% 0.1636 28.46);
			--red-8: oklch(54.4% 0.1987 28.46);
			--red-9: oklch(45.6% 0.1636 28.46);
			--red-10: oklch(40.2% 0.151 28.46);
			--red-11: oklch(78.4% 0.1987 28.46);
			--red-12: oklch(90.2% 0.0717 28.46);

			--red-a1: color(display-p3 0.9608 0 0 / 0.022);
			--red-a2: color(display-p3 0.9882 0.1294 0.0078 / 0.064);
			--red-a3: color(display-p3 1 0.0039 0 / 0.181);
			--red-a4: color(display-p3 1 0 0 / 0.278);
			--red-a5: color(display-p3 1 0.0588 0 / 0.349);
			--red-a6: color(display-p3 1 0.1412 0.0745 / 0.425);
			--red-a7: color(display-p3 1 0.2549 0.1804 / 0.53);
			--red-a8: color(display-p3 1 0.2824 0.2157 / 0.711);
			--red-a9: color(display-p3 1 0.2549 0.1922 / 0.538);
			--red-a10: color(display-p3 1 0.2 0.1294 / 0.45);
			--red-a11: color(display-p3 1 0.2824 0.2157 / 0.711);
			--red-a12: color(display-p3 0.9961 0.8392 0.8 / 0.967);

			--red-contrast: #fff;
			--red-surface: color(display-p3 0.1804 0.0706 0.0588 / 0.5);
			--red-indicator: oklch(45.6% 0.1636 28.46);
			--red-track: oklch(45.6% 0.1636 28.46);
		}
	}
}
