.docCard {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .imageContainer {
    background: #001b2a;
    border-right: 2px solid #780000;
  }
  
  .docCard:hover {
    box-shadow: 0 12px 24px rgba(120, 0, 0, 0.4);
    transform: translateY(-5px);
  }
  
  .docCard:hover .imageContainer {
    border-right-color: #b52a2a;
  }
  
  .docCard:hover .flex-grow .text-[#ECEDEE] {
    color: #9e1f19;
  }
  