.bg-dark {
  background-color:#001B2A; 
}

.text-light {
 color:#ECEDEE; 
}

.bg-maroon {
 background-color:#780000; 
}

.bg-crimson {
 background-color:#9E1F19; 
}

.bg-gray {
 background-color:#8CABA9; 
}

a:hover {
 transform: translateY(-5px);
}

.card-hover:hover {
 transform: scale(1.02);
}

.checkmark-animation:hover {
 transform: rotate(360deg);
}

.container {
 max-width :1200px;
}

.mb-6 { margin-bottom :1.5rem;}
.mb-8 { margin-bottom :2rem;}
.mb-16 { margin-bottom :4rem;}

.py-12 { padding-top :3rem;padding-bottom :3rem;}
.py-16 { padding-top :4rem;padding-bottom :4rem;}

.text-xl { font-size :1.25rem;}
.text-md { font-size :.875rem;}

.font-bold { font-weight:bold;}
.font-extrabold{font-weight:bold;}

.rounded-lg{border-radius :.75rem;}
.rounded-full{border-radius :.9999px;}

.shadow-lg{box-shadow :.rgba(0 ,0 ,0 ,.25)0px10px15px -3px;}
