.bg-dark {
  background-color: #001B2A;
}

.text-light {
  color: #ECEDEE;
}

.text-gray {
  color: #8CABA9;
}

.bg-maroon {
  background-color: #780000;
}

.bg-crimson {
  background-color: #9E1F19;
}

a:hover {
  transform: translateY(-5px);
}

.learning-path-card {
  border-radius: .5rem;
}